/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Base style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}

/* Top players style */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; --- same as above */
    row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* Top blog styls */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    margin-top: 31px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9f9f9f;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}



/* Courses style */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.course {
    width: 270px;
    box-shadow: 2px 2px 2px 1px rgba(119, 119, 119, 0.124);
    /* border: 1px solid blue; */
    border-radius: 15px;
}

.course-banner img {
    width: 250px;
    margin-top: 12px;
    margin-left: 10px;
}

.course-title {
    margin-top: 10px;
    margin-bottom: 7px;
    color: #1e1e1e;
    margin-left: 10px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.course-info p {
    font-size: 15px;
    color: #a2a2a2;
}

.course-author {
    color: #ED6B4F;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.fa-star {
    font-size: 12px;
}

.filled-star {
    color: #FFC014;
}

.empty-star {
    color: #AEAEAE;
    opacity: 25%;
}

.course-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95px;
    height: 30px;
    margin-right: 12px;
    background-color: #FFE4E8;
    border-radius: 15px;
}

.course-duration span {
    color: #FF4A60;
    font-size: 14px;
}

.fa-clock {
    color: #FF4A60;
    width: 20px;
}